%layout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

%page {
  flex-grow: 1;
  padding: 20px 20px 20px 40px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: 100%;
}
