@import "./reset";
@import "./fonts/darkerGrotesque";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/green";
@import "./common";

body {
  color: var(--primary-color);
  font: var(--font-m);
  background: var(--bg-color);
}
