.AppCode {
  border: 1px solid var(--primary-color);
  padding: 20px 35px 20px 20px;
  position: relative;
  background: var(--code-bg);
  overflow: auto;
}

.copyBtn {
  position: absolute;
  right: 8px;
  top: 8px;
}

.copyIcon path {
  stroke: var(--primary-color);
}
