.AppDropdown {
  position: relative;
  width: fit-content;
}

.dropdownButton {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 5px;
  border: 1px solid var(--primary-color);

  &.bottomRight {
    right: 0;
  }

  &.topLeft {
    bottom: 100%;
  }

  &.topRight {
    bottom: 100%;
    right: 0;
  }

  &.rightTop {
    left: 100%;
    top: 0;
  }

  &.rightBottom {
    left: 100%;
    top: 100%;
  }

  &.leftTop {
    right: 100%;
    top: 0;
  }

  &.leftBottom {
    right: 100%;
    top: 100%;
  }
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
  border-radius: 5px;
}
