.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
  }
}

.itemRedesigned {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.active {
  background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  border-left: 2px solid var(--accent-redesigned);
}

.collapsedRedesigned {
  padding: 0 8px;

  .link {
    display: none;
  }
}
