.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.3s;
  position: relative;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
  gap: 10px;
}
