.plate {
  &.ArticleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  gap: 30px;
}

.list {
  &.ArticleList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card {
    margin-bottom: 30px;
  }
}
