.plate {
  &.ArticleListItemRedesigned {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;
  }

  &.ArticleListItem {
    display: block;
    width: 230px;
    transition: 0.2s;
    cursor: pointer;
  }

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .avatarWrapperRedesigned {
    margin-left: 8px;
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .imageRedesigned {
    width: 100%;
    object-fit: cover;
    min-height: 140px;
    max-height: 140px;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .infoWrapperRedesigned {
    padding: 8px 8px 16px;
    height: 100%;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cardRedesigned {
    width: 240px;
    height: 350px;
    overflow: hidden;
  }

  .footerRedesigned {
    height: 100%;
    justify-content: flex-end;
  }
}

.list {
  .views {
    margin-left: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 16px 0;
  }

  .imageRedesigned {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
  }

  .textBlockRedesigned {
    height: 72px;
    overflow-y: hidden;
  }

  .footer {
    display: flex;
    align-items: center;
  }
}
