.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: var(--dropdown-z-index);
  border-radius: 5px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  min-width: 100%;
  width: fit-content;
}

.option {
  width: 100%;
  padding: 4px 20px;
}

.listboxButton {
  padding: 4px 20px;
  width: 100%;
}

.selected {
  background: var(--light-bg-redesigned);
}

.disabled {
  opacity: 0.7;
}

.readonly {
  opacity: 0.7;
  pointer-events: none;
}
