.AppCard {
  border-radius: 12px;
}

.p0 {
  padding: 0;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

.p24 {
  padding: 24px;
}

.normal {
  background: var(--dark-bg-redesigned);
}

.outline {
  border: 1px solid var(--accent-redesigned);
}

.light {
  background: var(--light-bg-redesigned);
}

.max {
  width: 100%;
}
