.UserNotificationsPopover {
  padding: 15px;
  min-height: 150px;
  overflow-y: auto;

  &.desktop {
    width: 400px;
    max-height: 300px;
  }

  &.mobile {
    width: 100%;
    height: 100%;
  }
}
