.AppListbox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  left: 0;
  z-index: 10000;
  border-radius: 5px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  min-width: 100%;
  width: fit-content;

  &.top {
    bottom: 100%;
  }

  &.right {
    left: 100%;
    top: 0;
  }

  &.left {
    right: 100%;
    top: 0;
  }
}

.option {
  width: 100%;
  padding: 4px 20px;
}

.listboxButton {
  padding: 4px 20px;
  width: 100%;
}

.active {
  background: var(--inverted-secondary-color);
  border-radius: 5px;
}

.selected {
  text-decoration: underline;
}

.disabled {
  opacity: 0.7;
}

.readonly {
  opacity: 0.7;
  pointer-events: none;
}
