.AppCode {
  padding: 20px 35px 20px 20px;
  position: relative;
  background: var(--light-bg-redesigned);
  overflow: auto;
  border: 1px solid var(--accent-redesigned);
  border-radius: 16px;
}

.copyBtn {
  position: absolute;
  right: 0;
  top: 0;
}
