.appButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: var(--text-redesigned);

  &:hover {
    color: var(--accent-redesigned);
    opacity: 0.7;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;

    .addonLeft svg .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddon {
  padding: 3px 16px;
}

.addonLeft svg .addonRight svg {
  color: var(--hint-redesigned);
  align-self: center;
  justify-self: center;
}

.clear,
.clearInverted {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.outline {
  background: none;
  border: 1px solid var(--icon-redesigned);
  border-radius: 34px;

  &:hover {
    border: 1px solid var(--accent-redesigned);
  }
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 34px;
}

.square {
  padding: 0;
}

.size_m {
  font: var(--font-m-redesigned);
}

.size_l {
  font: var(--font-l-redesigned);
}

.size_xl {
  font: var(--font-xl-redesigned);
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.fullWidth {
  width: 100%;
}
