.app_dark_theme {
  --bg-color: #0c0cad;
  --inverted-bg-color: rgb(211 208 208);

  --primary-color: #5edc18;
  --secondary-color: #48ab13;

  --inverted-primary-color: #0404b2;
  --inverted-secondary-color: #0000bd;

  --code-bg: #1212a1;
}
