.app_green_theme {
  --bg-color: #f2f7f3;
  --inverted-bg-color: #31b94c;

  --primary-color: #31b94c;
  --secondary-color: #549929;

  --inverted-primary-color: #f2f7f3;
  --inverted-secondary-color: #f7f7f8;

  --code-bg: #fff;
}
