.app_green_theme {
  --bg-color: #f2f7f3;
  --inverted-bg-color: #31b94c;

  --primary-color: #31b94c;
  --secondary-color: #549929;

  --inverted-primary-color: #f2f7f3;
  --inverted-secondary-color: #f7f7f8;

  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  --code-bg: #fff;

  --card-bg: #d5d5d7;

  --listbox-bg: #d5d5d7;
}
