
.app.light {
  --bg-color: rgb(211, 208, 208);
  --inverted-bg-color: #0c0cad;

  --primary-color: #0404b2;
  --secondary-color: #0000bd;
  --inverted-primary-color: #48ab13;
  --inverted-secondary-color: #5edc18;
}