.primary {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.inverted_primary {
  fill: var(--inverted-primary-color);
  color: var(--inverted-primary-color);
}

.inherit {
  color: inherit;
}

.none {
  fill: none;
}
