.navbar {
  height: var(--navbar-height);
  width: 100%;
  background: var(--inverted-bg-color);
  display: flex;
  padding: 20px;
  align-items: center;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.newArticleButton {
  margin-left: 15px;
}
