.AppInput {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  width: 100%;
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.AppInputInternal {
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-redesigned);
  background: none;

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.focused {
  border: 2px solid var(--accent-redesigned);

  .addonLeft,
  .addonRight {
    color: var(--accent-redesigned);
  }
}

.readonly {
  opacity: 0.7;
}

.size_s {
  height: 32px;
}

.size_m {
  height: 38px;
}

.size_l {
  height: 44px;
}
