.primary {
  fill: var(--icon-redesigned);
  color: var(--icon-redesigned);
}

.none {
  fill: none;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.button:hover .AppIcon {
  color: var(--accent-redesigned);
}
