.primary {
  fill: var(--icon-redesigned);
  color: var(--icon-redesigned);
}

.accent {
  fill: var(--accent-redesigned);
  color: var(--accent-redesigned);
}

.light {
  fill: var(--light-bg-redesigned);
  color: var(--light-bg-redesigned);
}

.hint {
  fill: var(--hint-redesigned);
  color: var(--hint-redesigned);
}

.inherit {
  color: inherit;
}

.none {
  fill: none;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.button:hover .AppIcon {
  color: var(--accent-redesigned);
}
