.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: var(--dropdown-z-index);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}
