name: CI Pipeline
run-name: Run
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [25.x]
    steps:
      - uses: actions/checkout@v2
      - name: Starting Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install node modules
        run: npm install
      - name: Production build
        run: npm run build:prod
      - name: Lint typescript
        run: npm run lint:js
      - name: Lint css
        run: npm run lint:scss
      - name: Unit tests
        run: npm run test:unit
      - name: Build storybook
        run: npm run storybook:build
      - name: Screenshot tests
        run: npm run test:ui:ci