name: CI Pipeline
run-name: Run
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: write
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  build-and-testing:
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    strategy:
      matrix:
        node-version: [25.x]
    steps:
      - uses: actions/checkout@v4
      - name: Starting Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install node modules
        run: npm ci
      - name: Production build
        run: npm run build:prod
      - name: Build storybook
        run: npm run storybook:build
      - name: Unit tests
        if: always()
        run: npm run test:unit
      - name: Screenshot tests
        id: screenshot_tests
        run: npm run test:ui:ci
      - name: Generate HTML report
        run: npm run test:ui:report
        if: always()
      - name: Move loki report
        if: always()
        run: mv .loki reports/screenshot
      - name: Setup Pages
        uses: actions/configure-pages@v5
        if: always()
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        if: always()
        with:
          path: 'reports'
      - name: Deploy to GitHub Pages
        id: deployment
        if: always()
        uses: actions/deploy-pages@v4
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 25.x ]
    steps:
      - uses: actions/checkout@v4
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install node modules
        run: npm ci --force
      - name: Lint typescript
        run: npm run lint:ts
        if: always()
      - name: Lint css
        run: npm run lint:scss
